@import "styles/sesion.css";
@import "styles/Tablas.css";
@import "styles/Empresa.css";
@import "styles/icons.css";
@import "styles/helper.scss";
@import "styles/formulario.scss";

@import "styles/temaFormulario.css";


.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0 !important;
}

nb-layout-column {
  display: block !important;
}

.nb-theme-default nb-layout .layout {
  background-color: white !important;
}
