<div class="div-table">
  <div class="Iencabezado">
    Eventos
    <a href="#">Ver mas...</a>
  </div><br>
  <dx-gallery
    [dataSource]="House"
    [height]="440"
    width="100%"
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true">
    <div *dxTemplate="let galleryItem of 'item'">
      <div>
        <div>
          <img src="{{galleryItem.Image}}" />
        </div>
        <div class="item-evento">{{galleryItem.Nombre}}</div>
        <div class="item-price">{{ galleryItem.Price | currency:'USD':'symbol':'1.0'}}</div>
        <div class="item-address">{{galleryItem.Address + ', ' + galleryItem.City}}
        </div>
        <dx-button
          class="button-info"
          text="Ver mas"
          (onClick)="Ver()">
        </dx-button>
      </div>
    </div>
  </dx-gallery>
<br><br>
  <div class="Iencabezado">
    Promociones
    <a href="#">Ver mas...</a>
  </div><br>
  <dx-gallery
    [dataSource]="House2"
    [height]="440"
    width="100%"
    [loop]="true"
    [showNavButtons]="true"
    [showIndicator]="true">
    <div *dxTemplate="let galleryItem of 'item'">
      <div>
        <div>
          <img src="{{galleryItem.Image}}" />
        </div>
        <div class="item-evento">{{galleryItem.Nombre}}</div>
        <div class="item-price">{{ galleryItem.Price | currency:'USD':'symbol':'1.0'}}</div>
        <div class="item-address">{{galleryItem.Address + ', ' + galleryItem.City}}
        </div>
        <dx-button
          class="button-info"
          text="Ver mas"
          (onClick)="Ver()">
        </dx-button>
      </div>
    </div>
  </dx-gallery>
</div>
