<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
  <div class="logo">
    <a href="#" class="loginL">
      <div class="logo-image-small">
        <img src="assets/img/logo-small.png">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

    </ul>
  </div>
</div>
