<div class="wrapper " align="center">

  No pruebes el login que no funciona solo copie lo que teniamos
  <form [formGroup]="formUsuario"  class="logoL">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a><br><br>


    <div class="col-md-4 pr-3">
      <div class="form-group">
        <input type="text" formControlName="email" class="form-control" placeholder="Email" >
      </div>
    </div><br>

    <div class="col-md-4 pr-3">
      <div class="form-group">
        <input type="password" formControlName="password" class="form-control" placeholder="Password" >
      </div>
    </div><br>

    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-warning btn-round" (click)="login()">Ingresar</button>
      </div>
    </div><br>

  </form>
</div>
