<div class="wrapper " align="center">

  No pruebes el login que no funciona solo copie lo que teniamos
  <form [formGroup]="formUsuario"  class="logoL">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a><br><br>


    <div class="col-md-4 pr-3">
      <div class="form-group">
        <input type="text" formControlName="email" class="form-control" placeholder="Email" >
      </div>
    </div><br>

    <div class="col-md-4 pr-3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Password" >
        <a href="#" >¿Olvido su contraseña?</a>
        <a href="#" align="right">Registrarse</a>
      </div>
    </div><br>

    <dx-button
      id="button"
      [height]="40"
      [width]="140"
      (onClick)="login()">
      <div *dxTemplate="let data of 'content'">
        <dx-load-indicator class='button-indicator'
                           [visible]="loadIndicatorVisible">
        </dx-load-indicator>
        <span class='dx-button-text'>Ingresar</span>
      </div>
    </dx-button><br><br>

    <div class="row">
      <div class="update ml-auto mr-auto">
        <a href="#" class="fa fa-facebook" ></a>
        <a href="#" class="fa fa-google" ></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </div><br><br>

  </form>
</div>
